
.traffic-light {
    background: black;
    padding: 15px;
    display: inline-block;
    border-radius: 20px;
}

.corner {
    background: black;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
}

.line {
    background: rgb(255, 255, 255);
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
}

.light {
    height: 200px;
  width: 200px;
  background-color: #4400ff;
  border-radius: 50%;
  margin: 10px;
}
.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.glowR {
    box-shadow: 0px 0px 25px 10px rgb(253, 50, 50);
}

.glowY {
    box-shadow: 0px 0px 25px 10px rgb(255, 255, 48);
}

.glowG {
    box-shadow: 0px 0px 25px 10px rgb(18, 138, 18);
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
